.mes-body{
    height: 100%;
    perspective: 800px;
}
.mes-right{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mes-list{
    flex:1;
    padding: 15px;
    padding-bottom: 200px;
    overflow: auto;
}
.mes-content{
    align-self: center;
    line-height: 1.5em;
    flex: 1;
    white-space: pre-wrap;
    overflow: hidden;
}
.mes-avator{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: var(--headerColor);
    color: var(--theme);
}
.mes-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--contentfontColor)
}
.mes-item[data-self=true]{
    flex-direction: row-reverse;
    color: var(--fontColor)
}
.mes-item[data-self=true] .mes-avator{
    display: none;
}
.mes-item[data-self=true] .mes-content{
    text-align: right;
}
.mes-item[data-self=true] .mes-txt{
    border-radius: 10px 10px 0 10px!important;
    background: var(--contentbgColor);
}
.mes-content>pre{
    margin: 0!important;
    display: inline-block;
    border-radius: 0 10px 10px 10px!important;
    padding: 10px 15px!important;
}
.mes-item[data-self=true] .mes-content>pre{
    border-radius: 10px 10px 0 10px!important;
    text-align: left;
}
.mes-code{
    padding: 10px 15px!important;
}
.mes-txt{
    margin: 0;
    text-align: left;
    display: inline-block;
    border-radius: 0 10px 10px 10px!important;
    background: var(--themeColor);
    padding: 10px 15px;
    white-space: pre-wrap;
}
.mes-input-con{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    transform-style: preserve-3d;
    color: var(--fontColor);
}
.mes-input-wrap{
    display: flex;
    box-sizing: border-box;
    background: var(--contentbgColor);
    border-radius: 10px;
    padding: 15px;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 50px;
    bottom: 0;
    transition: .5s;
    align-items: center;
}
.mes-code-input-wrap{
    transform:translate3d(0,calc(100% + 15px),0);
}
.mes-input-con[data-code-mode=true] .mes-code-input-wrap{
    transform:translate3d(0,0,0);
}
.mes-input-con[data-code-mode=true] .mes-txt-input-wrap{
    transform:translate3d(0,calc(100% + 15px),0);
}
.mes-input{
    background: transparent;
    margin: 10px 15px;
    border: 0;
    outline: 0;
    flex: 1;
    max-height: 150px;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 14px;
    /* -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write; */
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
    font-family: inherit;
}
.icon-btn{
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    line-height: 0;
    margin: 0 5px;
    font-size: 24px;
    transition: .3s;
    color:inherit;
    opacity: .6;
}
.icon-group{
    height: 24px;
    overflow: hidden;
}
.icon-float{
    position: absolute; 
    right: 0;
    bottom: 0;
}
.icon-float .icon-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 50%;
    background: var(--contentbgColor)
}
.icon-wrap{
    transition: .3s;
    transform: translate3d(0,-24px,0);
}
.icon-wrap .icon-btn{
    display: block;
}
.mes-input:empty::before{
    content: attr(placeholder);
    opacity: .6;
}
.mes-input:empty+.icon-group .icon-wrap{
    transform: translate3d(0,0,0)
}
.icon-btn:hover{
    opacity: 1;
    color: var(--theme);
}
.icon-lan{
    font-size: 16px;
}
.mes-input blockquote{
    margin: 0 0 0 2em!important;
    border: none;
    padding: 0px;
}
.mes-content>pre .hljs-addition,
.mes-content>pre .hljs-deletion{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}
.mes-content>pre .hljs-addition:before,
.mes-content>pre .hljs-deletion:before{
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: .05;
}
.code-edit{
    background: transparent;
    margin: 0 10px;
    border: 0;
    outline: 0;
    flex: 1;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 14px;
    /* min-height: 53px; */
    /* -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write; */
    /* -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only; */
    font-family: inherit;
}
.code-edit .CodeMirror pre{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New"
}
.code-edit::-webkit-scrollbar{
    background: rgba(255,255,255,.5);
}
.code-edit .CodeMirror-scroll{
    overflow: auto!important;
    margin: 0;
    padding: 15px;
    max-height: 150px;
    box-sizing: border-box;
}
.code-edit .CodeMirror-hscrollbar,
.code-edit .CodeMirror-vscrollbar,
.code-edit .CodeMirror-gutter-filler,
.code-edit .CodeMirror-scrollbar-filler{
    display: none!important;
}
.code-edit .CodeMirror-scroll::-webkit-scrollbar{
    background: rgba(255,255,255,.5);
}
.code-edit .cm-s-neo.CodeMirror{
    background: none;
}
.code-edit .CodeMirror-matchingbracket {
    text-decoration: none!important;
    background: rgba(0,0,0,.1);
}
.code-edit .cm-s-neo .CodeMirror-cursor {
    width: 1px;
    border: 0;
    background: var(--fontColor);
}
.code-edit .CodeMirror-sizer{
    border-right: 0;
}
.code-edit .cm-s-neo .CodeMirror-linenumber{
    color: var(--theme);
}