:root{
  --themeColor:#ff6767;
  --bgColor:#fff;
  --fontColor:#666;
  --fontSubColor:#999;
  --contentfontColor:#fff;
  --contentbgColor:#f1f1f4;
}
.App {
  height: 100%;
  background-color: var(--bgColor);
}
