:root{
  --themeColor:#f45940;
  --bgColor:#fff;
  --fontColor:#666;
  --fontSubColor:#999;
}
.App {
  height: 100%;
  background-color: var(--bgColor);
}
.switch:checked+label{
  --bgColor:#f45940;
}
label{
  color: var(--bgColor);
}